## Movies
In this part of mini-project, we need to have our API-KEY ready because this API won't work without it.

We encourage you to look for correct endpoints in [the documentation](https://developers.themoviedb.org/3/account). We can also play around with requests there before copying them to Python.

In [107]:
import requests
import json
import os
from collections import OrderedDict

## Demo

In [57]:
base = "https://api.themoviedb.org/3"
url = "/search/movie"

query = 'titanic'
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?query={query}&api_key={api_key}'

In [58]:
res = requests.get(base+url+params)

In [59]:
res.status_code

200

In [60]:
res.json()

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/yDI6D5ZQh67YU4r2ms8qcSbAviZ.jpg',
   'genre_ids': [18, 10749],
   'id': 597,
   'original_language': 'en',
   'original_title': 'Titanic',
   'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.",
   'popularity': 121.748,
   'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
   'release_date': '1997-11-18',
   'title': 'Titanic',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 20943},
  {'adult': False,
   'backdrop_path': '/e9XRikkyth0GtG8RkU3XNm0oMsA.jpg',
   'genre_ids': [28, 12, 53],
   'id': 44918,
   'original_language': 'en',
   'original_title': 'Titanic II',
   'overview': 'On the 100th anniversary of the original voyage, a modern luxury liner christened "Titanic 2," follows the path of its namesake. But when a tsunami hurls an ice berg into the new ship\'s path, the passengers and crew must fight to avoid a similar fate.',
   'popularity': 31.687,
   'poster_path': '/3m12UeP1DMfhYZyvpLftaJGsyp3.jpg',
   'release_date': '2010-08-07',
   'title': 'Titanic II',
   'video': False,
   'vote_average': 4.9,
   'vote_count': 299},
  {'adult': False,
   'backdrop_path': '/3oShsRvAyZiQQ5lP2hszWN9Ri0b.jpg',
   'genre_ids': [18, 10749],
   'id': 16535,
   'original_language': 'en',
   'original_title': 'Titanic',
   'overview': 'Unhappily married, Julia Sturges decides to go to America with her two children on the Titanic. Her husband, Richard also arranges passage on the luxury liner so as to have custody of their two children. All this fades to insignificance once the ship hits an iceberg.',
   'popularity': 13.155,
   'poster_path': '/n2hykMnmw1APSBYpJ2CV6dtD47.jpg',
   'release_date': '1953-04-11',
   'title': 'Titanic',
   'video': False,
   'vote_average': 6.4,
   'vote_count': 84},
  {'adult': False,
   'backdrop_path': '/ABvXvATmJT3FCZRnoINF3utNa4.jpg',
   'genre_ids': [53, 27],
   'id': 945657,
   'original_language': 'en',
   'original_title': 'Titanic 666',
   'overview': 'After a mammoth cruise ship sails over the site of the Titanic’s disaster, dark and deadly events start to occur on board. As the ship’s captain investigate the tragic occurrences, it becomes clear that the passengers from the original Titanic have returned.',
   'popularity': 12.43,
   'poster_path': '/9C0GAAnpydkjDAMvr2BNslggKU3.jpg',
   'release_date': '2022-04-15',
   'title': 'Titanic 666',
   'video': False,
   'vote_average': 4,
   'vote_count': 7},
  {'adult': False,
   'backdrop_path': '/82tRA7Vdf7TwdyJYILUh6FuY88L.jpg',
   'genre_ids': [99],
   'id': 198901,
   'original_language': 'en',
   'original_title': 'Titanic: 100 Years On',
   'overview': 'The "unsinkable" floating palace set sail from Southampton on 10th April 1912 on her maiden voyage to New York. An iceberg ended this monumental journey 5 days later. Only 705 of the passengers and crew survived. This program features an exclusive look at the Sea City Museum Titanic Exhibit in Southampton, interviews from both survivors and the cast of the blockbuster film.',
   'popularity': 14.512,
   'poster_path': '/uAaXfaJpKjmsA3F1KgowcRJPKPM.jpg',
   'release_date': '2012-06-01',
   'title': 'Titanic: 100 Years On',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 18},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [35, 27],
   'id': 4240,
   'original_language': 'en',
   'original_title': 'Titanic 2000',
   'overview': 'The luxury liner Titanic 2000 has set sail on its maiden voyage, and one of the passengers is the vampire Vladamina. Vladamina is searching for a woman she can turn into a vampire queen, and frustrated rock groupie Shari looks to be a perfect target. As various people get seduced and/or killed as the liner continues on its doomed voyage, Shari must chose between eternity as a living dead sex slave or a frigid grave at the bottom of the ocean.',
   'popularity': 8.568,
   'poster_path': '/91p8xU2nykmw8psADIJOlBLdlXK.jpg',
   'release_date': '1999-01-01',
   'title': 'Titanic 2000',
   'video': False,
   'vote_average': 3.3,
   'vote_count': 10},
  {'adult': False,
   'backdrop_path': '/q3b8Vi2W6j72aXKggiVoDnEyDgU.jpg',
   'genre_ids': [12],
   'id': 24575,
   'original_language': 'en',
   'original_title': 'Raise the Titanic',
   'overview': 'To obtain a supply of a rare mineral, a ship raising operation is conducted for the only known source, the Titanic.',
   'popularity': 10.488,
   'poster_path': '/beYNLj44FOdV47tomXuJyPkvCKl.jpg',
   'release_date': '1980-08-01',
   'title': 'Raise the Titanic',
   'video': False,
   'vote_average': 5.5,
   'vote_count': 60},
  {'adult': False,
   'backdrop_path': '/edHgXEtPbyVIQ7xKb1cvJJqTVhA.jpg',
   'genre_ids': [28, 18, 36],
   'id': 11021,
   'original_language': 'de',
   'original_title': 'Titanic',
   'overview': "This little-known German film retells the true story of the British ocean liner that met a tragic fate. Ernst Fritz Fürbringer plays the president of the White Star Line, who unwisely pressed the Titanic's captain (Otto Wernicke) to make the swiftest possible crossing to New York.",
   'popularity': 5.476,
   'poster_path': '/Al7oIXQ4dZAofBTZWm6OiXS3MEa.jpg',
   'release_date': '1943-11-10',
   'title': 'Titanic',
   'video': False,
   'vote_average': 6.1,
   'vote_count': 44},
  {'adult': False,
   'backdrop_path': '/sdtfwZulErbQ7y9RVbaOuWVouD6.jpg',
   'genre_ids': [36, 18, 53],
   'id': 86938,
   'original_language': 'en',
   'original_title': 'S.O.S. Titanic',
   'overview': 'The Titanic disaster is depicted as seen through the eyes of one couple in each of the three classes on board.',
   'popularity': 5.526,
   'poster_path': '/wy5ut2GVpPaNxxXFRdkIywjRpeO.jpg',
   'release_date': '1979-09-23',
   'title': 'S.O.S. Titanic',
   'video': False,
   'vote_average': 6.1,
   'vote_count': 28},
  {'adult': False,
   'backdrop_path': '/hDfaa3Nj3K3SkXBr8eALYfPT5pF.jpg',
   'genre_ids': [99],
   'id': 428950,
   'original_language': 'en',
   'original_title': 'Drain the Titanic',
   'overview': "Computer-generated imagery and other visualization techniques reveal how it would look if all the water was removed from RMS Titanic's final resting place.",
   'popularity': 7.309,
   'poster_path': '/68Fppsnpc3OmQK8kIustffrxHbq.jpg',
   'release_date': '2016-05-05',
   'title': 'Drain the Titanic',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 16},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [99, 36],
   'id': 530108,
   'original_language': 'en',
   'original_title': 'The Unsinkable Titanic',
   'overview': 'On April 10, 1912, the RMS Titanic embarked on its maiden voyage, sailing from Southampton, England, to New York City. One of the largest and most luxurious passenger liners at the time, the Titanic was also equipped with watertight compartments, which led many to consider the ship unsinkable; an anonymous deckhand famously claimed that “God himself could not sink this ship.” On April 14, however, the ship struck an iceberg, and early the next day it sank. Some 1,500 people perished.',
   'popularity': 7.251,
   'poster_path': '/m3py1JoOPM3s3RTRv965tMC8Fqy.jpg',
   'release_date': '2008-11-03',
   'title': 'The Unsinkable Titanic',
   'video': False,
   'vote_average': 7,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': '/4Sddw1BFQFHOIQZ3DY7QS0mGnVe.jpg',
   'genre_ids': [16, 10751],
   'id': 71235,
   'original_language': 'it',
   'original_title': 'Titanic: La leggenda continua',
   'overview': 'An animated retelling of the worst passenger ship disaster in history. In this version, love blossoms between the upper-class Sir William and the blue-collar Angelica, who is hoping to find romance in America. At the same time, there are also a number of animal passengers, including talking dogs, cats and mice, who are also looking forward to arriving in the New World.',
   'popularity': 5.403,
   'poster_path': '/s1PHRSlos2hIFrtA8Ze0JybJTGb.jpg',
   'release_date': '2000-09-15',
   'title': 'Titanic: The Legend Goes On...',
   'video': False,
   'vote_average': 2.4,
   'vote_count': 50},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [10770, 99],
   'id': 463397,
   'original_language': 'en',
   'original_title': 'Nazi Titanic',
   'overview': 'During a bizarre chapter of WWII, Nazi propaganda minister Joseph Goebbels decided to make a movie based on the sinking of the Titanic. This epic film was so large in scale that the Nazis were forced to divert men, material and ships from the war effort in order to complete it. Titanic was filmed aboard cruise ship SS Cap Arcona in the Baltic Sea. The movie’s director Herbert Selpin was arrested by the Gestapo over comments he made about the ship’s crew and he was questioned by Goebbels. Selpin was found dead the next day in his cell. The Gestapo’s verdict was suicide. Titanic never received the impressive premiere that Goebbels intended, being first shown in Nazi-occupied Paris in 1943. We reveal this little known but fascinating story by looking at the making of the film, as well as the fate of the German ship Cap Arcona.',
   'popularity': 3.56,
   'poster_path': '/pmCnVAP0dQumyDMgCnzEgnpMt1g.jpg',
   'release_date': '2012-04-14',
   'title': 'Nazi Titanic',
   'video': False,
   'vote_average': 7,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': '/dxdN3RxJRVYzFxVSR0fNhSBqBSL.jpg',
   'genre_ids': [99],
   'id': 682666,
   'original_language': 'en',
   'original_title': 'Back to the Titanic',
   'overview': 'Back to the Titanic documents the first manned dives to Titanic in nearly 15 years. New footage reveals fresh decay and sheds light on the ship’s future.',
   'popularity': 4.973,
   'poster_path': '/wqa5qTTX547R9RIsiLbvQww1wkL.jpg',
   'release_date': '2020-02-23',
   'title': 'Back to the Titanic',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 4},
  {'adult': False,
   'backdrop_path': '/oTR3KI1kVQ6ULrR2X6TobDlYVzO.jpg',
   'genre_ids': [16, 10751],
   'id': 44310,
   'original_language': 'it',
   'original_title': 'La leggenda del Titanic',
   'overview': 'Old Grandpa mouse tells to his grandchildren the "real" story of the Titanic disaster, including evil sharks, a giant octopus, and an evil whaling scheme.',
   'popularity': 3.343,
   'poster_path': '/tscmcvMs9T1TOjoMD7x12FveNsR.jpg',
   'release_date': '1999-01-01',
   'title': 'The Legend of the Titanic',
   'video': False,
   'vote_average': 3.3,
   'vote_count': 32},
  {'adult': False,
   'backdrop_path': '/pOf6CiaFvnuwpXg5eEKJq76oP1g.jpg',
   'genre_ids': [],
   'id': 763424,
   'original_language': 'en',
   'original_title': 'Who Sank the Titanic?',
   'overview': '',
   'popularity': 4.447,
   'poster_path': '/2x2z0JMK0Gz66cNIqZeutHSSuJu.jpg',
   'release_date': '2019-10-10',
   'title': 'Who Sank the Titanic?',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/mEoU71g0SjTDEiMTyRj1bV2EfIp.jpg',
   'genre_ids': [99],
   'id': 213362,
   'original_language': 'en',
   'original_title': 'Reflections on Titanic',
   'overview': "An enthralling and fast-paced four-part documentary feature that covers the making of one of the last major Hollywood epics; Titanic. Cast and crew speak on setting the sinking of the ship against a classic romance. The feature also examines casting and the young couple headlining the film, DiCaprio's and Winslet's on-set friendship and their differing acting styles, the expansive sets and filming locations, the authenticity of the recreated ship, James Cameron's work and dedication, and budgeting. And many more aspects of the film are overviewed.",
   'popularity': 4.471,
   'poster_path': '/2hdOU2edVT1MoFBXXTpetJU3LB7.jpg',
   'release_date': '2012-09-10',
   'title': 'Reflections on Titanic',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 19},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [99],
   'id': 421657,
   'original_language': 'en',
   'original_title': 'Inside the Titanic',
   'overview': 'An ambitious factual drama that reveals moment by moment exactly how the Titanic sank, telling the untold stories of the engineers and stokers who battled the icy water.',
   'popularity': 3.21,
   'poster_path': '/jDHeorRWLuzyXSUGVX47OSdWvVM.jpg',
   'release_date': '2012-03-22',
   'title': 'Inside the Titanic',
   'video': False,
   'vote_average': 5.7,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': '/v6kUC2dsDwSfhwCWdAgldXB7Knu.jpg',
   'genre_ids': [99, 18, 10770],
   'id': 102370,
   'original_language': 'en',
   'original_title': 'Saving the Titanic',
   'overview': "In the hours after the Titanic struck an iceberg 100 years ago, a team of shipbuilders and engineers raced against time to save the stricken vessel.  Based on eye-witness accounts, this film reveals what went on below decks in the hours before the Titanic sank, telling the previously relatively unheralded stories of engineers who fought courageously to hold back the power of the sea and keep the power systems running, even when they learned that all was lost.  Most of these men died but their actions bought enough time to save many lives.  This drama-documentary tells a poignant story of self-sacrifice by the Titanic's engineers, stokers and firemen in the face of impending death.",
   'popularity': 2.84,
   'poster_path': '/gei8kg0KouyPJKUmxDwTNSnBUTV.jpg',
   'release_date': '2012-04-15',
   'title': 'Saving the Titanic',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 7},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [35],
   'id': 428615,
   'original_language': 'ro',
   'original_title': 'Titanic vals',
   'overview': 'Based on a play by Tudor Mușatescu, Titanic Vals is the essence of Romanian genius in comedy, with amazing performances and the beautiful absurd of the quotidian.',
   'popularity': 1.4,
   'poster_path': '/ezr00Sm1H6Qlq7hRrUZQ9IP7PF3.jpg',
   'release_date': '1964-12-02',
   'title': 'Titanic Waltz',
   'video': True,
   'vote_average': 7.6,
   'vote_count': 5}],
 'total_pages': 8,
 'total_results': 147}

## Task
Search for you favorite movie and return the information about the movie:
- name
- release date
- runtime
- revenue
- length of the overview
- number of votes
- voting average

In [61]:
url = "/movie/198663"
query = 'The Maze Runner'
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?query={query}&api_key={api_key}'

In [62]:
res = requests.get(base+url+params)

In [63]:
res.status_code

200

In [66]:
allInfo = res.json()
print(json.dumps(allInfo, indent=4))

{
    "adult": false,
    "backdrop_path": "/udkrGMA9hsEGkQpmZ31rGpQQKp8.jpg",
    "belongs_to_collection": {
        "id": 295130,
        "name": "The Maze Runner Collection",
        "poster_path": "/wQ0l9sq0Bm6OAeqY4w6NWjP9jwS.jpg",
        "backdrop_path": "/te8ibHFhjwWXZTCtQIPRUFjxWX2.jpg"
    },
    "budget": 34000000,
    "genres": [
        {
            "id": 28,
            "name": "Action"
        },
        {
            "id": 9648,
            "name": "Mystery"
        },
        {
            "id": 878,
            "name": "Science Fiction"
        },
        {
            "id": 53,
            "name": "Thriller"
        }
    ],
    "homepage": "https://www.20thcenturystudios.com/movies/the-maze-runner",
    "id": 198663,
    "imdb_id": "tt1790864",
    "original_language": "en",
    "original_title": "The Maze Runner",
    "overview": "Set in a post-apocalyptic world, young Thomas is deposited in a community of boys after his memory is erased, soon learning they're all trapped in a maze that will require him to join forces with fellow \u201crunners\u201d for a shot at escape.",
    "popularity": 178.398,
    "poster_path": "/ode14q7WtDugFDp78fo9lCsmay9.jpg",
    "production_companies": [
        {
            "id": 290,
            "logo_path": "/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png",
            "name": "Ingenious Media",
            "origin_country": "GB"
        },
        {
            "id": 3672,
            "logo_path": "/5VWXJgYYrJZUE0hixvBdVfGSfmo.png",
            "name": "Gotham Group",
            "origin_country": "US"
        },
        {
            "id": 8569,
            "logo_path": null,
            "name": "Dayday Films",
            "origin_country": "GB"
        },
        {
            "id": 12292,
            "logo_path": "/llGRXF5WYUW2fzXg0ebCoKMXjmT.png",
            "name": "Temple Hill Entertainment",
            "origin_country": "US"
        },
        {
            "id": 22213,
            "logo_path": "/qx9K6bFWJupwde0xQDwOvXkOaL8.png",
            "name": "TSG Entertainment",
            "origin_country": "US"
        },
        {
            "id": 25,
            "logo_path": "/qZCc1lty5FzX30aOCVRBLzaVmcp.png",
            "name": "20th Century Fox",
            "origin_country": "US"
        }
    ],
    "production_countries": [
        {
            "iso_3166_1": "US",
            "name": "United States of America"
        },
        {
            "iso_3166_1": "GB",
            "name": "United Kingdom"
        }
    ],
    "release_date": "2014-09-10",
    "revenue": 348319861,
    "runtime": 113,
    "spoken_languages": [
        {
            "english_name": "English",
            "iso_639_1": "en",
            "name": "English"
        }
    ],
    "status": "Released",
    "tagline": "Remember. Survive. Run.",
    "title": "The Maze Runner",
    "video": false,
    "vote_average": 7.2,
    "vote_count": 14577
}

In [68]:

name = allInfo["original_title"]
release_date = allInfo['release_date']
runtime = allInfo['runtime']
revenue = allInfo['revenue']
lenOfOverview = len(allInfo['overview'])
noOfVote = allInfo['vote_count']
votingAvg = allInfo['vote_average']
print("Name of movie:", name)
print("Release date of movie:", release_date)
print("Runtime:", runtime)
print("Revenue:", revenue)
print("Length of overview:", lenOfOverview)
print("Number of vote:", noOfVote)
print("Voting average:", votingAvg)

Name of movie: The Maze Runner
Release date of movie: 2014-09-10
Runtime: 113
Revenue: 348319861
Length of overview: 234
Number of vote: 14577
Voting average: 7.2

## Task
Search for you favorite actor/actress and return the information about him/her:
- name
- date of birth
- place of birth
- length of the biography

In [ ]:
urlActor = "/person/1136406"

query = 'Tom Holland'
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?query={query}&api_key={api_key}'

In [ ]:
res = requests.get(base+urlActor+params)

In [ ]:
res.status_code

200

In [ ]:
actor = res.json()
#print(json.dumps(actor, indent=4))
nameActor = actor['also_known_as'][0]
birthdayActor = actor['birthday']
birthPlace = actor['place_of_birth']
lenOfBio = len(actor['biography'])
print("Name of actor:", nameActor)
print("Birthday:", birthdayActor)
print("Place of birth:", birthPlace)
print("Length of biography:", lenOfBio)

Name of actor: Thomas Stanley Holland
Birthday: 1996-06-01
Place of birth: Surrey, England, UK
Length of biography: 558

## Task
Search for you favorite tv-show and return the information about it:
- name
- first air date
- number of seasons
- number of episodes
- genres

In [77]:
urlTv = "/tv/130386"

api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?api_key={api_key}'

In [78]:
res = requests.get(base+urlTv+params)
res.status_code

200

In [86]:
tvshow = res.json()
#print(json.dumps(tvshow, indent=4))
nametv = tvshow['name']
firstAirDate = tvshow['first_air_date']
noOfSeasons = tvshow['number_of_seasons']
noOfEps = tvshow['number_of_episodes']
genre = tvshow['genres'][0]['name']
print("Name:",nametv)
print("First air date:", firstAirDate)
print("Number of seasons:", noOfSeasons)
print("Number of episode:", noOfEps)
print("Genre:", genre)

Name: MasterChef Tamil
First air date: 2021-08-07
Number of seasons: 1
Number of episode: 28
Genre: Reality

## Task 
Find top 5 trending:
- movies
- tv-shows
- people

In [129]:
urlTopMovie = "/trending/movie/week"
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?api_key={api_key}' 
res = requests.get(base+urlTopMovie+params)
res.status_code

import operator
topMovieWeek = res.json()
#print(json.dumps(topMovieWeek, indent=4))
topMovieInfo = topMovieWeek['results']
dictTopMovie = {}

for movie in topMovieInfo:
    dictTopMovie[movie['original_title']] = movie['vote_average']
#print(dictTopMovie)
topMovieDict = sorted(dictTopMovie.items(), key=operator.itemgetter(1),reverse=True)
print(topMovieDict[:5])

[('Spider-Man: No Way Home', 8.1), ('The Batman', 7.8), ('Sonic the Hedgehog 2', 7.7), ('The Bad Guys', 7.7), ('The Northman', 7.7)]

In [133]:
urlTopTv = "/trending/tv/week"
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?api_key={api_key}' 
res = requests.get(base+urlTopTv+params)
res.status_code

import operator
topMovieWeek = res.json()
#print(json.dumps(topMovieWeek, indent=4))
topTvInfo = topTvWeek['results']
dictTopTv = {}

for tv in topTvInfo:
    dictTopTv[tv['name']] = tv['vote_average']
#print(dictTopMovie)
topTvDict = sorted(dictTopTv.items(), key=operator.itemgetter(1),reverse=True)
print(topTvDict[:5])

[('We Own This City', 9.1), ('Shining Girls', 9.0), ('SK8 the Infinity', 8.9), ('Heartstopper', 8.9), ('One Piece', 8.8)]

In [136]:
urlTopPerson = "/trending/person/week"
api_key = "2785d06eb866a4683b32c7dd20b6fb63"
params = f'?api_key={api_key}' 
res = requests.get(base+urlTopPerson+params)
res.status_code

import operator
topPersonWeek = res.json()
#print(json.dumps(topPersonWeek, indent=4))
topPersonInfo = topPersonWeek['results']
dictTopPerson = {}

for person in topPersonInfo:
    dictTopPerson[person['name']] = person['popularity']
#print(dictTopPerson)
topPersonDict = sorted(dictTopPerson.items(), key=operator.itemgetter(1),reverse=True)
print(topPersonDict[:5])

[('Tom Holland', 128.772), ('Johnny Depp', 89.393), ('Jason Statham', 59.848), ('Ryan Reynolds', 50.753), ('Noomi Rapace', 38.418)]